{{- with .Site.Params.favicon.color }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBbkG2aaKw">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=XBbkG2aaKw">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=XBbkG2aaKw">
    <link rel="manifest" href="/site.webmanifest?v=XBbkG2aaKw">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=XBbkG2aaKw" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=XBbkG2aaKw">
    <meta name="apple-mobile-web-app-title" content="biosugar0">
    <meta name="application-name" content="biosugar0">
    <meta name="msapplication-TileColor" content="{{.msapplication}}">
    <meta name="theme-color" content="{{.theme}}">
{{ end }}
